.form-container
{
    display: block;
    width: 1200px;
    margin: 0px auto;
}
.form-header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #515a6e;
}
.form-title-link
{
    text-decoration: none;
    color: #000000;
}
#header-link-1
{
    padding-right: 20px;
    border-right: 2px solid #000000;
}
#header-link-2
{
    padding-left: 20px;
}
.form-title-link-disable
{
    text-decoration: none;
    color: #999999;
}
.form-title
{
    line-height: 80px;
    font-size: 24px;
    font-weight: bold;
}
.form-button
{
    width: 120px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}
.form-button:hover
{
    background-color: #F0F0F0;
}
.form-content
{
    padding: 20px 0px;
    border-bottom: 1px solid #515a6e;
}
.table-list
{
    width: 1200px;
    font-size: 14px;
    border-collapse: collapse;
    font-size: 12px;
}
.table-list td
{
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #dcdee2;
}
.table-list thead
{
    background-color: #515a6e;
    color: #FFFFFF;
}
.table-list > tbody > tr:nth-of-type(2n+1)
{
    background-color: #f8f8f9;
}
.table-list > tbody > tr:nth-of-type(2n)
{
    background-color: #e8eaec;
}
.note-link
{
    text-decoration: none;
    margin-left: 10px;
}